<ul class="nav nav-pills">
  <li role="presentation">
    <a href="/parks">All Parks</a></li>
    <li role="presentation"><a href="/parks/new">Create New Park</a></li>
  <li role="presentation"><a href="/rides">All Rides</a></li>
  <li role="presentation"><a href="/rides/new">Create New Ride</a></li>
</ul>
<br>
