<section>
<fieldset>
 <legend>Create a New Ride</legend>
 <form action="/rides"
method='POST' class="well">
<div class="row">
 <div class="col-xs-3 form-group">
   <label for="name">Name</label>
   <input type="text"
     class="form-control"
     id="name"
     name="name"
     value="">
 </div>
 <div class="col-xs-3 form-group">
   <label for="capacity">Capacity</label>
   <input type="number"
     class="form-control"
     id="capacity"
     name="capacity"
     value="">
 </div>
 <div class="col-xs-3 form-group">
   <label for="popularity">Popularity</label>
   <input type="number"
     class="form-control"
     id="popularity"
     name="popularity"
     value="">
 </div>
 <div class="col-xs-3 form-group">
   <label for="rides">Parks</label>
   <select class="form-control" name="park_id">
     <option value="" selected>-- Choose a Park --</option>
     <% parks.forEach(park => { %>
       <option value="<%= park.id %>">
         <%= park.name %>
       </option>
       <% }) %>
     </select>
   </div>
 </div>

</div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>

</fieldset>
</section>
