<section>
<fieldset>
 <legend>Create a New Park</legend>
 <form action="/parks" method='POST' class="well">
<div class="row">
 <div class="col-xs-4 form-group">
   <label for="name">Name</label>
   <input type="text"
     class="form-control"
     id="name"
     name="name"
     value="">
 </div>
 <div class="col-xs-4 form-group">
   <label for="city">City</label>
   <input type="text"
     class="form-control"
     id="city"
     name="city"
     value="">
 </div>
 <div class="col-xs-4 form-group">
   <label for="state">State</label>
   <input type="text"
     class="form-control"
     id="state"
     name="state"
     value="">
 </div>
</div>

<button type="submit" class="btn btn-primary">Submit</button>
</form>

</fieldset>
</section>
