<section class="panel panel-default">
  <div class="panel-heading">
    <h2><%= park.name %></h2>
  </div>
  <div class="panel-body">
    <p>
      <strong>Location:</strong>
      <%= park.city %>, <%= park.state %>
    </p>
  </div>

  <table class="table">
    <!-- list of parks goes here -->
  </table>
</section>
